In [1]:
#Understanding dataframe:
import numpy as np
import pandas as pd

In [ ]:
#dataframes can handle 2D data
general sytax of dataframe:
    pandas.DataFrame(data,index,columns,dtype,copy)

In [ ]:
#creating an empty dataframe

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#Creating a dataframe from lists:
data = ['ram','Ram2','Jyothsna','hameed','subrata']
df = pd.DataFrame(data)
print(df)

          0
0       ram
1      Ram2
2  Jyothsna
3    hameed
4   subrata

In [9]:
data1 = [['aishwarya',10],['Harshini',8],['swetha',9],['Jyothsna',8]]
df = pd.DataFrame(data1,columns = ['name','marks'])
print(df)

        name  marks
0  aishwarya     10
1   Harshini      8
2     swetha      9
3   Jyothsna      8

In [10]:
data1 = [['aishwarya',10],['Harshini',8],['swetha',9],['Jyothsna',8]]
df = pd.DataFrame(data1,columns = ['name','marks'], dtype = float)
print(df)

        name  marks
0  aishwarya   10.0
1   Harshini    8.0
2     swetha    9.0
3   Jyothsna    8.0

In [11]:
data1 = [['aishwarya',10],['Harshini',8.5],['swetha',9],['Jyothsna',8]]
df = pd.DataFrame(data1,columns = ['name','marks'])
print(df)

        name  marks
0  aishwarya   10.0
1   Harshini    8.5
2     swetha    9.0
3   Jyothsna    8.0

In [12]:
data1 = [['aishwarya',10],['Harshini',8],['swetha',9],['Jyothsna',8]]
df = pd.DataFrame(data1,columns = ['name','marks'],index = ['rank1','rank2','rank3','rank2'])
print(df)

            name  marks
rank1  aishwarya     10
rank2   Harshini      8
rank3     swetha      9
rank2   Jyothsna      8

In [ ]:
#creating a dataframe from dict of ndarrays/list

In [ ]:
#Dictionaries by default would be converted as columns in pandas

In [13]:
data={'name':['bikesh','abhishek','abdulla','afnan'],'age' : [25,26,27,22]}
df = pd.DataFrame(data)
print(df)

       name  age
0    bikesh   25
1  abhishek   26
2   abdulla   27
3     afnan   22